<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Yolov9 Prediction</title>
</head>
<body>
    <h1>Instance Segmentation of Building structures</h1>

    <div class="container">
        <div class="box">
            <h2>Upload an Image</h2>
            <form action="{{ url_for('predict_img') }}" method="post" enctype="multipart/form-data">
                <input type="file" name="file" id="imageUpload">
                <button type="submit">Upload</button>
            </form>
        </div>
        <div class="box">
            {% if image_path %}
            <h2>Yolov9 Prediction</h2>
            <img id="my-image" src="{{image_path}}" alt="image_path"/>
            {% endif %}
            {% if image_path_2 %}
            <h2>SAM Prediction</h2>
            <img id="my-image" src="{{image_path_2}}" alt="image_path"/>
            {% endif %}
        </div>
    </div>
    
</body>
</html>
